.App {
  display: flex;
  min-height: 100vh;
  color: black;
}

/* Login page */
.login-page{
  background-color: #62ef62;
  padding: 85px 505px;
}

.auth-form-container, .login-form {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 50px 50px;
  position: relative;
  left: 200px;
  top: 0px;
}

.login-form{
  position: relative;
  right: 50px;
  line-height: 1px;
  margin: 0.5rem 0;
}

input {
  margin: 0.5rem 0; 
  padding: 12px 60px;
  border: none;
  border-radius: 20px;
}

h3{ 
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

p {
  text-align: center;
  color: black;
  margin-bottom: 25px;
}

.user-icon {
  position: relative;
  z-index: 1000;
  margin-bottom: -40px;
  margin-left: 25px;
  color: grey;
}

.key-icon {
  position: relative;
  z-index: 1000;
  margin-bottom: -40px;
  margin-left: 25px;
  color: grey;
}

button {
  border: none;
  background-color: darkgreen;
  padding: 12px 60px;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
}

.fp-btn{
  background: none;
  color: white;
  text-align: left;
  margin-left: -40px;
  margin-top: 5px;
}

.link-btn {
  background: white;
  color: darkgreen;
  padding: 15px 50px;
  border-radius: 20px;
  margin-top: 80px;
}

/* Welcome page */
.welcome-page{
  background-color: #62ef62;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 840px;
  width: 3000px;
}

h2{
  font-size: xx-large;
  text-align: center;
  color: white;
  margin: 0.3rem 0; 
  position: relative;
  margin-left: 90px;
}

/* page name for all main pages */
.page-name{
  font-size: large;
  color:#62ef62;
  font-weight: bold;
  text-align: center; 
  position: absolute; 
  top: 2%;
  left: 50%; 
  transform: translateX(-50%);
}

/* Home page */
.welcome-note{
  font-size: large;
  color:black;
  text-align: left;
  position: absolute;
  top: 7%;
  left: 10%;
}

.name{
  font-size: large;
  color:black;
  text-align: left;
  position: absolute;
  top: 11%;
  left: 10%;
}

.line-horizontal {
  width: 42%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 48%;
  left: 8%;
  transform: translateY(-50%);
}

.line-vertical {
  width: 1px;
  height: 80%;
  background-color: black;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.section1-container{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 10%;
  top: 20%;
  height: 200px;
  width: 500px;
}

.pie{
  position: absolute;
  top: -40%;
  left: -20%;
}

.sub1{
  position: absolute;
  top: 40%;
  left: 60%;
}

.section2-container{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 10%;
  top: 50%;
  height: 350px;
  width:600px;
}

.sub2{
  position: absolute;
  top: 8%;
  left: 0%;
}

.section3-container{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 52%;
  top: 20%;
  height: 600px;
  width: 650px;
}

.portfolio-container{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0%;
  top: 4%;
  height: 30px;
  width: 650px;
}

.balance-container{
  /* border: 1px solid blue; */
  background-color:rgba(98, 239, 98, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 0%;
  top: 12%;
  height: 100px;
  width: 650px;
}

.bal{
  position: absolute;
  top: 1%;
}

.mon{
  position: absolute;
  top: 35%;
  font-size: xx-large;
  color: green;
}

.overview-container{
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0%;
  top: 32%;
  height: 250px;
  width: 650px;
}

.pfl-btn{
  background-color: darkgreen;
  color: white;
  height: 52px;
  width: 650px;
  border-radius: 0px;
  position: absolute;
  bottom: 0%;
}

.subtitle{
  position: absolute;
  top: 4%;
  left: 0%;
  color: green;
}

.section4-container{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 52%;
  top: 76%;
  height: 180px;
  width: 650px;
}

.square1{
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 150px;
  background-color: rgba(98, 239, 98, 0.5);
  position: absolute;
  text-align: center;
  left: 0%;
  top: 16%;
}

.square2{
  height: 160px;
  width: 150px;
  text-align: center;
  background-color: rgba(98, 239, 98, 0.5);
  position: absolute;
  left: 27%;
  top: 16%;
}

.square3{
  height: 160px;
  width: 150px;
  background-color: rgba(98, 239, 98, 0.5);
  text-align: center;
  position: absolute;
  left: 54%;
  top: 16%;
}

.square4{
  height: 160px;
  width: 150px;
  background-color: rgba(98, 239, 98, 0.5);
  position: absolute;
  left: 81%;
  top: 16%;
}


.section-head{
  color: darkgreen;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: large;
}


/* Learning modules page-1 */

.line-vertical-1{
  width: 1px;
  height: 90%;
  background-color: black;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.learning-module-1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-column{
  /* border: 1px solid #000000; */
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 2%;
  top: 10%;
}

.right-column{
  /* border: 1px solid #000000; */
  width: 47%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  left: 51%;
  top: 10%;
}

.topic {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: -2px;
  text-align: left;
}

.paragraph {
  font-size: 15px;
  margin-bottom: 0px;
  text-align: left;
}

.to-quiz{
  background: green;
  color: white;
  padding: 15px 60px;
  border-radius: 0px;
  margin-top: 80px;
  position: relative;
  margin-left: 200px;
}


ul{
  list-style: none;
}

.menu-icon{
  width: 30px;
  height: 30px;
}

.menu-trigger{
  position: absolute;
  top: 2%;
  left: 2%;
}

.dropdown-menu{
  position: absolute;
  top: 4%;
  left: -2%;
  padding: 10px 20px;
  width: 50px;
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: 4%;
  left: -2%;
}

.dropdown-menu.active{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* .dropdown-menu.inactive{
  opacity: 0;
  visibility: visible;
  transform: translateY(-20px);
} */

.dropdown-menu ul li{
  padding: 10px  0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown-menu ul li:hover a{
  color: lightgreen;
  cursor: pointer;
}

.dropdownItem{
  display: flex;
  margin: 10px auto;
}

.dropdownItem a{
  max-width: 100px;
  margin-left: 10px;
}

.user-image{
  width: 70px;
  height: 70px;
}

.profile-1{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 75px;
  width: 650px;
}

.profile-2{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 75px;
  width: 650px;
}

.t1{
  position: absolute;
  top: 20%;
  left: 15%;
}

.t2{
  position: absolute;
  top: 33%;
  left: 15%;
}

.t3{
  position: absolute;
  top: 20%;
  right: 5%;
}

.t4{
  position: absolute;
  top: 33%;
  right: 5%;
  color:#62ef62;
}

.t5{
  position: absolute;
  top: 50%;
  left: 15%;
}

.t6{
  position: absolute;
  top: 63%;
  left: 15%;
}

.t7{
  position: absolute;
  top: 50%;
  right: 5%;
}

.t8{
  position: absolute;
  top: 63%;
  right: 5%;
  color:#62ef62;
}

.award-image{
  height: 100px;
  width: 100px;
  position: absolute;
  left: 16%;
  top: 5%;
}

.text1{
  font-size: small;
  position: relative;
  margin-top: 75%;
  color: darkgreen;
}

.text2{
  font-size: small;
  position: absolute;
  left: 40%;
  top: 76%;
  color: green;
}

.module-1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  position: absolute;
  top: 20%;
  height: 70px;
  width:550px;
}

.module-2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  position: absolute;
  top: 43%;
  height: 70px;
  width:550px;
}

.module-3{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  position: absolute;
  top: 66%;
  height: 70px;
  width:550px;
}

.module-4{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid black; */
  position: absolute;
  top: 89%;
  height: 70px;
  width:550px;
}

.module-name{
  position: absolute;
  top: 2%;
  color:#62ef62;
}

.progress-bar{
  width: 400px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(0, 255, 0, 0.3);
}

.progress-bar-fill-1{
  position: absolute;
  top: 61.5%;
  height: 6px;
  border-radius: 10px;
  width: 320px;
  background-color: rgba(0, 255, 0, 1);
}

.progress-bar-fill-2{
  position: absolute;
  top: 61.5%;
  height: 6px;
  border-radius: 10px;
  width: 5px;
  background-color: rgba(0, 255, 0, 1);
}

.progress-label{
  position: absolute;
  top: 48%;
  color:#62ef62;
  right: 10%;
}